<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		<title>Travel</title>

		<!-- Bootstrap -->
		<link href="resource/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="resource/bootstrap/css/bootstrap.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="resource/bootstrap/js/bootstrap.min.js"></script>
		
		<style>
  	
			.affix 
			{
			  top: 0;			 
			  width:55.6%;
			}

			.affix + .container-fluid 
			{
			  padding-top: 1000px;
			}
			.navbar-custom {
			color: #FFFFFF;
			background-color: #F6F1DC;
			padding-top: 4px;
			}
			.form-signin
			{
				margin-top: 20px;
			}
				
			
		</style>
	</head>
	<body >
		<div class='container'>
			<div class ="row">
			
				<h2 class="text-center">Webite quảng bá du lịch & đặt tour</h2>
                <hr />
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " style="background-color:#9FD7E9; height: 1000px;">
					<!-- Sign in , Sign up, Forgot password -->
					<div class="wrapper">
						<form class="form-signin" action="" >       
							<!-- <h2 class="form-signin-heading">Please login</h2> -->
							<input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
							<input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
							<label class="checkbox" style="margin-left: 20px;">
							<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
							</label>
							<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>   
							<a href="">Sign up</a> | <a href="">Forgot password</a>
						</form>
					</div>
                </div> 
                 <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<nav class="navbar navbar-custom" data-spy="affix" data-offset-top="205" >
                        <ul class="nav nav-pills" >
                            <li class="active"><a href=""><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-hand-right"></span> Tour mới</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-hand-right"></span> Tour hot</a></li>
							<li><a href=""><span class="glyphicon glyphicon-hand-right"></span> Điểm du lịch</a></li>
							<li><a href=""><span class="glyphicon glyphicon-hand-right"></span> Điểm du lịch hot</a></li>												
						</ul>
						</nav>
						<form action="" style="margin-bottom:10px">
							<div class ="btn-group"> <a class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" href="#">Tìm theo giá <span class="caret"></span></a>
					            <ul class="dropdown-menu">
					                <li><a href="#">United States</a></li>
					                <li><a href="#">Canada</a></li>
					                <li class="divider"></li>
					                <li><a href="#"><span class="glyphicon glyphicon-star"></span> Other</a></li>
					            </ul>
        					</div>
							<div class ="btn-group"> <a class="btn btn-default dropdown-toggle btn-select2" data-toggle="dropdown" href="#">Tìm theo công ty <span class="caret"></span></a>
					            <ul class="dropdown-menu">
					                <li><a href="#">California</a></li>
					                <li><a href="#">New York</a></li>
					                <li><a href="#">Massachusetts</a></li>
					                <li class="divider"></li>
					                <li><a href="#">Quebec</a>
					                </li><li><a href="#">Ontario</a>
					                </li><li><a href="#">British Columbia</a>
					                </li>
					            </ul>
					        </div>
					        
					        <div class="btn-group">
					            <button type="button" id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
					        </div>
						</form>
						<div class="col-md-6">
							<h1> 
							Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! 
							Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck!  
							</h1>	
						</div>
						<div class="col-md-6">
							<h1> 
							Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! 
							Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck! Good luck!  
							</h1>	
						</div>
                    </div>   
						
						
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color:#9FD7E9;height: 1000px;">
                        
                    </div>       
                     
            </div> 
					
			<div class="row" style="background-color:#9D2222">
				<footer><center>Footer (12 cột)</center></footer>
			</div>
			
		</div>
	</body>
</html>