
/*.navbar-form input, .form-inline input {
	width:auto;
}
*/
#footer
{
    background-color: #C5C6FE;
    height: 60px;
}
body{
    background-color: #F1F2FA;
}
header {
	height:60px;
	background-color: #DDDEFF;
    color:#00148E;
}
.navbar-header
{
    background-color: #031054;
}
@media (min-width: 768px){
    #nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
.affix + .container
{
	padding-top: 60px;
}


@media (max-width: 768px) {
  #nav.affix {
    position: static;

  }
    label{
        color: white;
    }
    #user_username {
        width: 100%;
    }
    #user_password{
        width: 100%;
    }
    #forgot_password{
        color: white;
    }
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #031054;
}
.navbar-default .navbar-nav > li > a
{
	color: #FFFFFF;
	padding-top: 30px;
	height: 80px;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #031054;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    background-color: #001685;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #031054;
}

