
/*.navbar-form input, .form-inline input {
	width:auto;
}
*/
.carousel-inner img {
	margin: 0 auto;
	position: relative;
	height: 200px;
	max-height: 200px;
	overflow: hidden;
}

.carousel-inner>.item>img {
	height: 200px;
	max-height: 200px;
}

#avatar {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height:50px;
    line-height: 1.42857;
    max-width: 100%;
    padding:0;
    transition: all 0.2s ease-in-out 0s;
}
.container-fluid {
    padding-right: 30px;
}
#footer
{
    background-color: #C5C6FE;
    position:absolute;
    bottom:0;
}
p#end
{
	font-weight: bold;
}

body{
    background-color: #F1F2FA;
    padding-top: 90px; 
}
header {
	height:60px;
	background-color: #DDDEFF;
    color:#00148E;
}
.navbar-header
{
    background-color: #02162D;
}
@media (min-width: 768px){
    .affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
}
.affix + .container
{
	padding-top: 60px;
}


@media (max-width: 768px) {

    label{
        color: white;
    }
    #user_username {
        width: 100%;
    }
    #user_password{
        width: 100%;
    }
    #forgot_password{
        color: white;
    }

}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #02162D;
}
.navbar-default .navbar-nav > li > a
{
	color: #FFFFFF;
	padding-top: 30px;
	height: 80px;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #02162D;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    background-color: #00244F;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #02162D;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus >#not-focus 
{
	background-color: #00244F;
}
