.separator {
	margin-top: 50px;
	text-align: right;
	border-top: 1px solid #000;
	overflow: visible;
}

.separator h3 {
	margin-top: -12px;
	display: block;
	font-style: italic;
	background: #F1F2FA;
	z-index: 10;
	padding: 2px 20px;
	float: left;
}

.content img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.content{
	text-align: justify;
}

.title-content{
	border: 3px solid #ddd;
	padding: 5px;
}

.separator form {
	margin-top: -12px;
	display: block;
	font-style: italic;
	background: #F1F2FA;
	z-index: 10;
	padding: 2px 20px;
	float: right;
}

.carousel-inner img {
	margin: 0 auto;
	position: relative;
	height: 431px;
	max-height: 431px;
	overflow: hidden;
}

.carousel-inner>.item>img {
	height: 431px;
	max-height: 431px;
}

li.post {
	margin-bottom: 10px;
	margin-top: 10px;
	background: #F7F7F8;
}

.glyphicon.glyphicon-ok {
	color: #33CCFF;
}

.avatar {
	width: 40px;
	height: 40px;
}

span.top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #1F85CF url("../image/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

span:hover.top {
	background-color: #165D91;
}

.custom_hiden{
	display: none;
}

/* START loading icon with css3 */
.loading-icon{
    border: 8px solid #FFF;
  border-top-color: red;
  border-left-color: blue;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  overflow:hidden;
  border-radius: 50%;
    -webkit-animation: mm 0.7s linear infinite; /* Chrome, Safari, Opera */
    animation: mm 0.7s linear infinite;
}

.flip-container{overflow:hidden}

/* Chrome, Safari, Opera */
@-webkit-keyframes mm{
    from {left: 0px;}
    to {left: 2000px;}
}

@keyframes mm{
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* END loading icon with css3 */