.separator {
	margin-top: 50px;
	text-align: right;
	border-top: 3px solid #0094DA;
	overflow: visible;
}

.separator h3 {
	margin-top: -12px;
	display: block;
	font-style: italic;
	background: #0094DA;
	color:white;
	z-index: 10;
	padding: 2px 20px;
	float: left;
}

.content img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.separator form {
	margin-top: -12px;
	display: block;
	font-style: italic;
	background: #0094DA;
	z-index: 10;
	padding: 2px 20px;
	float: right;
}

.carousel-inner img {
	margin: 0 auto;
	position: relative;
	max-height: 231px;
}

li.post {
	margin-bottom: 10px;
	margin-top: 10px;
	background: #FFF;
}

.carousel-inner>.item>img {
	height: 231px;
	max-height: 231px;
}

.title-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}

.glyphicon.glyphicon-ok {
	color: #33CCFF;
}

.avatar {
	width: 40px;
	height: 40px;
}

span.top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #1F85CF url("../image/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

span:hover.top {
	background-color: #165D91;
}