.separator {
    margin-top: 50px;
    text-align: right;
    border-top: 1px solid #000;
    overflow: visible;
}
.separator h3 {
    margin-top: -12px;
    display: block;
    font-style: italic;
    background: #fff;
    z-index: 10;
    padding: 2px 20px;
    float: left;
}

.separator form {
    margin-top: -12px;
    display: block;
    font-style: italic;
    background: #fff;
    z-index: 10;
    padding: 2px 20px;
    float: right;
}

.carousel-inner img {
	width: 100%;
	height: 431px;
	max-height:231px;
}

#myCarousel {
	font-size: 90%;
}

.carousel-controls-mini {
	
}

.carousel-controls-mini>a {
	border: 1px solid #eee;
	width: 20px;
	display: block;
	float: left;
	text-align: center;
}

.glyphicon.glyphicon-ok{
	color:#33CCFF;
}